<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="centered-content">
            <div class="welcome-section">
                <h1>Welcome to Transfer Suggest!</h1>
                <p>
                    Unlock the power of informed choices with Transfer Suggest!
                    Our cutting-edge radar charts and in-depth player data 
                    comparisons redefine how you scout for your dream team.
                    Explore, compare, and find the perfect fit for your
                    squad effortlessly!   
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="btn-group" role="group">
            <a class="btn btn-light rounded-2 btn-lg me-4" href="/pages/transfersuggest" role="button">Transfer Suggest</a>
            <a class="btn btn-light rounded-2 btn-lg" href="/pages/playercompare" role="button">Player Compare</a>
        </div>
    </div>
    
