<% layout('../views/layouts/boilerplate')%>

<div class="alert alert-danger" role="alert">
    <%= err.message%>
</div>
<div>
  <a class="btn btn-primary rounded-2 btn-lg" href="/" role="button">Back Home</a>
</div>