<% layout('layouts/boilerplate', { user_id: user_id })%>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <label for="teamSelect0" class="form-label">Select Team:</label>
            <select id="teamSelect0" class="form-select">
                <!-- Options for teams will be populated dynamically -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="playerSelect0" class="form-label">Select Player:</label>
            <select id="playerSelect0" class="form-select">
                <!-- Options for players will be populated dynamically based on selected team -->
            </select>
        </div>
    </div>
    <div class="row mt-4" id="additionalSelectors">
        <!-- Additional selectors will be added here -->
    </div>
    <div class="row mt-2">
        <div class="col">
            <button id="addPlayerButton" class="btn btn-primary">+</button>
        </div>
    </div>
    <div class="col-md-6">
        <label for="attributeSelect" class="form-label">Select Attribute:</label>
        <select id="attributeSelect" class="form-select">
        </select>
    </div>
    <div class="row mt-4">
        <div class="col">
            <button id="createRadarChartButton" class="btn btn-primary">Create Radar Chart</button>
        </div>
    </div>    
    <div>
        <canvas id="radarChart" style="display: none;"></canvas>
    </div>
</div>

<script src="../../utils/playerCompareLogic.js"></script>