<% layout('layouts/radarChartBoilerplate', { user_id: user_id })%>

    <div class="row justify-content-center mt-4" style="width: 100%; height: 700px;">
        <canvas id="radarChart" style="width: 100%; height: 100%;"></canvas>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <button id="backButton" class="btn btn-primary btn-sm">Back to Compare Players</button>
            </div>
        </div>
    </div>
    

    <script>
        const backButton = document.getElementById('backButton');
        backButton.addEventListener('click', () => {
            window.location.href = '/pages/playercompare'; // Redirect to the comparePlayers page
        });
    </script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const chartDataString = urlParams.get('chartData');
        const chartData = JSON.parse(decodeURIComponent(chartDataString));

        const radarChartContext = document.getElementById('radarChart').getContext('2d');
        const radarChart = new Chart(radarChartContext, {
            type: 'radar',
            data: chartData.data,
            options: chartData.options
        });
    </script>
