<% layout('layouts/boilerplate', { user_id: user_id })%>

<div class="container text-center">
  <h1>Get Ready for Exciting Transfer Suggestions!</h1>
  <p>Stay tuned! We're preparing awesome suggestions and insights just for you.</p>
  <p>Something amazing is coming soon...</p>
</div>

